body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header{
    background-color: #ff6600;
    color: white;
    padding: 15px 0px;
}
nav{
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* espaço entre os elementos do menu */
    align-items: center; /* alinhamento vertical */

}
#links-menu{
    display: flex;
    gap: 20px; /* Distancia entre os itens do menu */
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #0056b3;
    border-radius: 5px;
}

img{
    width: 120px;
    height: auto;
    margin-right: 20px;
    border: black;
    border-style:solid;
    border-radius: 20px;
}

.container {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    justify-self: center;
    padding: 20px;
    text-align: justify;

}

h2 {
    text-align: center;
}

ul li {
    padding-bottom: 15px;
}

table tr td {
    padding: 20px;
}

table {
    margin: auto;
}



